<!-- Bottom Nav-->
<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h6 class="display-6 navbar-text">&copy; Iksang Yoo 300893315 COMP229- All Rights reserved.</h6>
  </nav>
</footer>