<% include partials/header.ejs %>

<% include partials/main_nav.ejs %>

<div class="jumbotron">
  <h1 class="display-6">Welcome to the Iksang's  About Me page!</h1>
  <hr class="my-4">
  <p><h4>Information of me</h4></p>
  <ul>
      <li><b>Name</b>: Iksang Yoo</li>
      <li><b>Birth</b>: Feb 10, 1996</li>
 </ul>
 <p>&nbsp;</p>
 <div class="card" style="width: 18rem;">
  <img src="../public/Assets/images/me.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<p>&nbsp;</p>
<a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">View my resume</a>
</div>

<% include partials/bottom_nav.ejs %>

<% include partials/footer.ejs %> 

  










