<% include partials/header.ejs %>

<% include partials/main_nav.ejs %>

<div class="jumbotron">
  <h1 class="display-6">Welcome to the Iksang's  <%= title %>page!</h1>
  <hr class="my-4">
  <p><h4>Mission Statements: </h4></p>
  <ul class = "list">
      <li>To be positive</li>
      <li>To keep healthy</li>
 </ul>
 <p>&nbsp;</p>
 <p><h4>Please click below button to learn more about me.</h4></p>
  <a class="btn btn-primary btn-lg" href="/about" role="button">About Me</a>
</div>

<% include partials/bottom_nav.ejs %>

<% include partials/footer.ejs %> 

  










