<!--Iksang Yoo/300893315/Oct-9-20/projects.ejs-->
<% include partials/header.ejs %>

<% include partials/main_nav.ejs %>

<div class="jumbotron">
  <h1 class="display-6">Welcome to the Iksang's  <%= title %> page!</h1>
  <hr class="my-4">
  <p><h4>Projects: </h4></p>
  <div class="card-group">
  <div class="card">
    <img src="Assets/images/java.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Java</h5>
      <p class="card-text">I am studying Java with IntelliJ.</p>
    </div>
  </div>
  <div class="card">
    <img src="Assets/images/medicare.png" class="card-img-top" alt="...">
    <div class="card-body">
    <p>&nbsp;</p>
      <h5 class="card-title">Software Team Project</h5>
      <p class="card-text">This is a Software Team project. Our application calld Medicare could improve health care services</p>
    </div>
  </div>
  <div class="card">
    <img src="Assets/images/gned.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">General Education</h5>
      <p class="card-text">Our gruop of General Education course is on the project related gender inequality</p>
    </div>
  </div>
</div>
</div>

<% include partials/bottom_nav.ejs %>

<% include partials/footer.ejs %> 

  










